h1{
    font-size: 65px;
    color: orange;
    font-family: fantasy,
    sans-serif;
    font-size: 25px;
    }
   .cor-fav{
         background-color: lightsalmon;
     }
    body{
    font-family: fantasy,
    sans-serif;
    font-size: 16px;
    }
    p {
     font-weight: 600;
     width: 5em;
    }
    #list-1{
      background-color: yellow;
    }
    #list-2{
      background-color: red;
    }
    #list-3{
      background-color: rgb(102, 53, 12)
    }